MODEL_NAME="HousingModel"
MODEL_PRODUCTION_ALIAS="champion"
MODEL_STAGING_ALIAS="staging"

MLFLOW_TRACKING_URI="https://dagshub.com/abdoashraff185/California-Housing_end-to-end-MLOps.mlflow"
MLFLOW_TRACKING_USERNAME="abdoashraff185"
MLFLOW_TRACKING_PASSWORD="SomeRandomToken"
MLFLOW_EXPERIMENT_NAME="california_housing_experiment"

BACKEND_URL="Your backend URL here"
FRONTEND_URL="https://thedemond-housingmodel-server.hf.space/"

CD_RUN_MANIFEST_PATH = "CD/config/manifests/default_v1.json"